<app-stepper></app-stepper>

<!-- Preloader -->
<div class="mat-spinner-container" *ngIf="!data.regResponse">
  <div class="spinner-inner">
    <mat-spinner></mat-spinner>
  </div>
</div>

<div class="container" id="step-08">
  <div class="form-container">
    <div class="row" *ngIf="data.getConsInfo && data.regResponse">
      <div class="col-md-12 road">
        <img class="img-fluid"
          src="https://secure2.convio.net/cfrca/images/content/pagebuilder/20065_RCTO_MilestoneProgram_Email.jpg"
          alt="Roads rewards" />
      </div>
      <div class="col-md-6">
        <h3 class="txt-blue text-uppercase">Congratulations</h3>        
        <br />
      </div>
      <div class="col-md-6 print-col">
        <a (click)="print()">
          <strong>Print This Screen</strong>
        </a>
      </div>
      <div class="col-md-12">
        <p>You have completed Online Check-in! Note – please print or screen shot this page and bring it with you to pick up your Road to Rewards gear.</p>
      </div>
    </div>
    <div class="row" *ngIf="data.getConsInfo">
      <div class="col-md-6">
        <h4>Personal Information</h4>
        <p>
          <strong>First Name:</strong>
          {{ data.getConsInfo.getConsResponse.name.first }}
        </p>
        <p>
          <strong>Last Name:</strong>
          {{ data.getConsInfo.getConsResponse.name.last }}
        </p>
        <!-- <p>
          <strong>Gender:</strong> {{ data.getConsInfo.getConsResponse.gender }}
        </p> -->
        <p>
          <strong>Address 1:</strong>
          {{ data.getConsInfo.getConsResponse.primary_address.street1 }}
        </p>
        <p>
          <strong>Address 2:</strong>
          <span
            *ngIf="data.getConsInfo.getConsResponse.primary_address.street2"
            >{{
              data.getConsInfo.getConsResponse.primary_address.street2
            }}</span
          >
        </p>
        <p>
          <strong>City:</strong>
          {{ data.getConsInfo.getConsResponse.primary_address.city }}
        </p>
        <p>
          <strong>Province/State:</strong>
          {{ data.getConsInfo.getConsResponse.primary_address.state }}
        </p>
        <p>
          <strong>Postal Code/Zip Code:</strong>
          {{ data.getConsInfo.getConsResponse.primary_address.zip }}
        </p>
        <p>
          <strong>Email Address:</strong>
          {{ data.getConsInfo.getConsResponse.email.primary_address }}
        </p>
      </div>
      <div class="col-md-6 event-box">
        <h4>Event Information</h4>
        <p><strong>Participation Type:</strong> Virtual Rider</p>
        <p><strong>Your Virtual Ride :</strong> <br /> {{ virtual }}</p>
        <p *ngIf="data.teamName">
          <strong>Team Name:</strong>
          <span *ngIf="data.teamName">{{ data.teamName }}</span>
        </p>
        <p><strong>Rider Pick-Up Point Selected:</strong> <br /> {{ pickup }}</p>
        <!-- <p><strong>Rider Pick-Up Point Selected:</strong> <br /> {{ pickup }} <br />{{ pickupb }}</p> -->
        <p><strong>Time Slot Selected:</strong> <br /> {{ timeslot }}</p>
        <!-- <p><strong>Tentmate Status: </strong>{{ data.tentStatus }}</p> -->
        <!-- <p *ngIf="data.participationType !== 'Crew' && pickup === 'Yes'">
          <strong>Rider Packet: </strong> Yes
        </p>
        <p *ngIf="data.participationType !== 'Crew' && pickup === 'No'">
          <strong>Rider Packet: </strong> No
        </p> -->
        <!-- <p *ngIf="data.participationType !== 'Crew' && reserve === 'true'">
          <strong>You have selected the following shuttles:</strong>
          <span class="next plus">{{ shuttle1 }}</span>
          <span class="next plus">{{ shuttle2 }}</span>
          <span class="next plus">{{ shuttle3 }}</span>
          <span class="next plus">{{ shuttle4 }}</span>
          <span class="next plus">{{ shuttle5 }}</span>
        </p>
        <p *ngIf="data.participationType !== 'Crew' && reserve === 'false'">
          <strong>You have selected the following shuttles: </strong>
          <span class="next">No shuttles selected.</span>
        </p> -->

        <p>
          <strong>Jersey Size: </strong> {{ jersey }}
        </p>
        <p>
          <strong>T-Shirt Size: </strong> {{ shirt }}
        </p>
        <p>
          <strong>Vest Size: </strong> {{ vest }}
        </p>
        <!-- <p *ngIf="data.participationType !== 'Crew' && Vegetarian === 'Yes'">
          <strong>Vegetarian Meals: </strong> Yes
        </p>
        <p *ngIf="data.participationType !== 'Crew' && Vegetarian === 'No'">
          <strong>Vegetarian Meals: </strong> No
        </p> -->
        <!-- <p><strong>Emergency Contact:</strong> {{ data.emergencyName }}</p>
        <p>
          <strong>Emergency Contact Phone:</strong> {{ data.emergencyPhone }}
        </p> -->
        <p><strong>Years Attended: </strong> {{ years }}</p>
        <!-- <p>
          <strong>Registration Status for The 2020 Ride: </strong>
          <span *ngIf="surveyResults.getSurveyResponsesResponse">{{
            preReg
          }}</span>
        </p> -->
      </div>
      <ul>
        <li>
          No matter how you ride, please share your virtual event day with us on social media #RideOn
        </li>
        <li>
          Follow our social channels @OntarioRide where we will be sharing content throughout the day. See our Event Details page for a full schedule.
        </li>
        <li>
          Don’t forget to tune in to opening ceremonies at 8:30 a.m. and closing ceremonies at 5:00 p.m. on Saturday, August 29th as we celebrate our success, recognize our champions and thank you for your commitment to supporting life-changing cancer research.
        </li>
      </ul>
    </div>

    <div class="border-btm section-divide"></div>
    <!-- <br /> -->

    <!-- 		<div class="row" *ngIf="data.getConsInfo">
            </div> -->
    <!-- <div class="pick-up-packet">
          <h4>Packet Pick-Up</h4>
          <p>Here are the times and locations where packet pick-up is available:</p>
          <div class='packet-box' *ngIf="data.participationType !== 'Crew'">
            <div>
              <p class="region-name txt-blue text-uppercase">
                <strong>Toronto</strong>
              </p>
              <p>
                Early Packet Pick-up at - Enercare Centre, Salon 101, Toronto ON
              </p>
          </div>
            <p>
              Wednesday, June 6<br>11:00 a.m. - 8:00 p.m.
            </p>
            <p>
              Thursday, June 7<br>7:30 a.m. - 4:00 p.m.
            </p>
            <p>
              <strong>Bike Drop Off and Packet Pick-Up at Exhibition Place</strong> - Parking Lot 2, 200 Prince's Blvd., Toronto, ON
            </p>
            <p>
              Friday, June 8<br>2:00 p.m. - 7:00 p.m.
            </p>
            <div>
              <p class="region-name txt-blue text-uppercase">
                <strong>Niagara</strong>
              </p>
              <p>
                Packet Pick-up Niagara Start Line - 7200 Niagara Parkway, Niagara ON
              </p>
            </div>
            <p>
              Friday, June 8<br>6:00 p.m. - 8:00 p.m.
            </p>
            <p class="packet-info">
              <strong>Packet Pick-Up will also be available beginning at 6:30 a.m. on Saturday, June 9. It is strongly encouraged that you retrieve your packet before this date if possible.</strong>
            </p>
          </div>
          <div class='packet-box' *ngIf="data.participationType === 'Crew'">
            <p class="region-name txt-blue text-uppercase">
              <strong>Crew Only</strong>
            </p>
            <p>
              Packets can be picked-up at the All Crew meeting on Friday, June 8, 2018.
            </p>
          </div>
            </div>  -->
    <div class="row section-two">
      <div class="col-xs-6 button-link">
        <a
          href="https://secure.conquercancer.ca/site/SPageServer?pagename=to20_pc&pc2_page=center&fr_id=1761"
          target="_blank"
        >
          <button mat-raised-button class="search-btn button-font center-btn">
            Return to Participant Centre
          </button>
        </a>
      </div>
      <div class="col-xs-6 button-link">
        <a
          href="http://ride.conquercancer.ca/toronto20/event-details/"
          target="_blank"
        >
          <button
            mat-raised-button
            class="search-btn button-font center-btn button-event"
          >
            Event Details
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
